<footer class="page-footer bg-light font-small pt-2">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="" style="color: #00842B">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="" target="_blank" class="iconLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="" target="_blank" class="iconInstagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/asena93/projetointegrador-v2.git" target="_blank" class="iconGitHub">
                        <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a routerLink='/sobre' class=" fs text-dark font-weight-bold" >Sobre Nós</a>
          </li>
          <li>
            <a routerLink='/contato' class=" fs text-dark font-weight-bold" >Fale conosco</a>
          </li>
          <li>
            <a routerLink='/uteis' class=" fs text-dark font-weight-bold" >Informações Uteis</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="footer-copyright  text-center py-1 font-weight-bold bg-white">

         <span style="color: #00842B"> &copy; 2021 Copyright: Maju Company </span>
     </div>
</footer>
