<div class="container-fluid">

  <div class="row d-flex align-items-center">

      <div class="col-md-6 mt-5 mb-5">

          <div class="row d-flex justify-content-center">
              <div class="col-md-10">

                  <h1 class="text-center mb-3 font-weight-bold" style="color: #00842B">Fale Conosco
                  </h1>

                  <div class="form-group">

                      <input class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
                  </div>
                  <div class="form-group">

                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                </div>

                  <div class="form-group">
                    <input class="form-control" type="text" name="assunto" id="assunto" placeholder="Assunto">
                </div>

                <div class="form-group">

                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensagem"></textarea>
              </div>

                  <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-outline-danger mr-4" routerLink='/entrar'>Cancelar</button>
                      <button type="submit" class="btn btn-outline-success"> Cadastrar</button>
                  </div>

                  <hr class="mt-4 mb-4">
                  <p class="text-center">
                      Não tem uma conta? <a href="">Cadastre-se</a>
                  </p>

              </div>
          </div>

      </div>

      <div class="col-md-6" id="img-bg"></div>

  </div>
</div>
