
<div class="jumbotron jumbotron-fluid gradient2" style="background-color: #d8e3e7;" >
  <div class="container">
    <div class="media mb-5">
      <img class="ml-3 mr-3 " src="https://i.imgur.com/J0mSEkT.png" alt="Imagem de Rodrigo Dias">
      <div class="media-body fundo">
        <h5 class=" mt-3 ml-2 ">Rodrigo Dias</h5>
        <p class="textnos font-italic">Tenho 20 anos e moro na zona leste, sou apaixonado por tecnologia e literatura, e essa paixão me motivou a entrar na área da tecnologia para ajudar a criar as tecnologias que vemos em filmes e historias de ficção cientifica e  isso me motiva a continuar estudando. E se quiser saber mais sobre mim só clicar nos ícones das minhas Redes sociais</p>
      </div>
      <div>
        <ul class="social-network">
          <li>
            <a href="https://github.com/RodrigoPDias" target="_blank" class="icoFacebook"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li>
              <a href="https://www.linkedin.com/in/rodrigo-pereira-dias-904698153/" target="_blank" class="icoLinkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>

         </ul>
      </div>
  </div>
 </div>
</div>

<div class="jumbotron jumbotron-fluid gradient2"  style="background-color: #d8e3e7;">
  <div class="container">
    <div class="media mb-5">
      <div class="media-body">
        <h5 class="mt-5 mb-1 text-right">Bruna Bonifacio</h5>
        <p class="textnos font-italic"> Tenho 25 anos, moro em São Paulo desde que nasci, sou mãe solo de uma menina de 4 anos chamada Maria Júlia que foi quem me moldou e me motivou a entrar na área de tecnologia. Instigando minha curiosidade e me fazendo ter a maior persistência até hoje. Gosto de estar conectada com pessoas, de trabalhar em equipe e levar sempre animação para onde vou. Se quiser me conhecer um pouco mais e seguir meu trabalho, é só clicar no ícone das minhas redes abaixo.</p>
      </div>
      <img   class="ml-3" src="https://i.imgur.com/soOpvGe.png" alt="Imagem de Bruna Bonifacio">
    </div>
  </div>
  <div>
    <ul class="social-network">
      <li>
        <a href="https://github.com/brubonifacio" target="_blank" class="icoFacebook"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
      <li>
          <a href="https://www.linkedin.com/in/bruna-bonif%C3%A1cio-/" target="_blank" class="icoLinkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>

     </ul>
  </div>
</div>

<div class="jumbotron jumbotron-fluid gradient2" style="background-color: #d8e3e7;">
    <div class="container">
      <div class="media mb-5">
        <img class="ml-3 mr-3 " src="https://i.imgur.com/u3cg3eo.png" alt="Imagem de Alessandro Sena">
        <div class="media-body">
          <h5 class="mt-5 mb-1">Alessandro Sena</h5>
          <p class="textnos font-italic">Tenho 28 anos, nascido numa pequena cidade no interior da Bahia, criado em São Paulo, amante de carros e tecnologia, autodidata e sempre pronto para um desafio, apaixonado por criar e aprimorar, focado no progresso! Quer trocar uma ideia? Me chama nas minhas redes abaixo!</p>
        </div>
        <div>
          <ul class="social-network">
            <li>
              <a href="https://github.com/asena93" target="_blank" class="icoFacebook"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/alessandromsena/" target="_blank" class="icoLinkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>

           </ul>
        </div>
      </div>
    </div>
</div>

  <div class="jumbotron jumbotron-fluid gradient3" style="background-color: #E9FFF8;">
    <div class="container">
      <div class="media mb-5">
        <div class="media-body">
          <h5 class="mt-5 mb-1 text-right">MaJu Company</h5>
          <p class="textnos font-italic">Nos da Maju© acreditamos  que a humanidade só conseguirá salvar os mares e rios se unirem por essa causa, pois toda a sujeira com jogamos no mar diariamente está destruindo todo o equilibro ecológico da natureza, algumas pessoas, não tem pleno conhecimento de oque eles podem fazer para ajudar a limpar os mares, e Nós da Maju© queremos  conscientizar as  pessoas e uni-las por essa causa.
          </p>
          <p>
          Nossa rede social tem como intuito unir as pessoas por causa social e ambiental, para lutar por mudanças. Pois, se  não fizermos nada hoje não haverá um amanha.
          </p>
        </div>
        <img class="ml-3" src="https://i.imgur.com/SRVUYno.png" alt="Imagem de MaJu Company">
      </div>
    </div>
  </div>
